<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>후쿠오카</title>
    {% load static %}
</head>

<body>
    <ul>
         <li>
            <div class="place">1. 후쿠오카타워</div>
            <img src="{% static 'images/fukuoka_tower.jpg' %}" alt="후쿠오카타워">
        </li>
        <li>
            <div class="place">2. 오호리공원</div>
            <img src="{% static 'images/ohori_park.jpg' %}" alt="오호리공원">
        </li>
        <li>
            <div class="place">3. 모모치 해변</div>
            <img src="{% static 'images/momochi_beach.jpeg' %}" alt="모모치 해변">
        </li>
        <li>
            <div class="place">4. 고쿠라성</div>
            <img src="{% static 'images/kokura_castle.jpeg' %}" alt="고쿠라성">
        </li>
        <li>
            <div class="place">5. 캐널시티 하카타</div>
            <img src="{% static 'images/canal_city.jpeg' %}" alt="캐널시티 하카타">
        </li>
        <li>
            <div class="place">6. 나카스 포장마차 거리</div>
            <img src="{% static 'images/nakasu_yatai.jpeg' %}" alt="나카스 포장마차 거리">
        </li>
        <li>
            <div class="place">7. 마린 월드 우미노나카미치</div>
            <img src="{% static 'images/marine_world.jpeg' %}" alt="마린 월드 우미노나카미치">
        </li>
        <li>
            <div class="place">8. 이치란 라멘 본점</div>
            <img src="{% static 'images/ramen.jpeg' %}" alt="이치란 라멘 본점">
        </li>
        <li>
            <div class="place">9. 유후인</div>
            <img src="{% static 'images/yufuin.jpeg' %}" alt="유후인">
        </li>
        <li>
            <div class="place">10. 벳푸 온천</div>
            <img src="{% static 'images/beppu.jpeg' %}" alt="벳푸 온천">
        </li>
    </ul>
</body>

</html>
