<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일본여행지 추천 설문조사</title>
</head>
<body>
    <div style='background-color: skyblue; width: 600px; padding: 7px 12px 7px 12px'>
        <form method="post" action="{% url 'index' %}">
            {% csrf_token %}
            <div style='font-size: 20px; text-align: center; font-weight: bolder; margin-bottom: 10px;'>* 일본여행지 추천 설문조사 *</div>

            <!-- 1. 예산 질문 -->
            <div style='background-color: whitesmoke; padding: 12px; margin-top: 5px;'>
                <div style="font-weight: bolder;">1. 총 여행 경비 기준으로, 어느 정도의 예산을 계획하고 계신가요?</div>
                <div style="list-style: none; margin-top: 7px;">
                    <li><label><input type="radio" name="budget" value="low"> 저예산</label></li>
                    <li><label><input type="radio" name="budget" value="mid"> 중간예산</label></li>
                    <li><label><input type="radio" name="budget" value="high"> 고예산</label></li>
                </div>
            </div>

            <!-- 2. 활동 질문 -->
            <div style='background-color: whitesmoke; padding: 12px; margin-top: 5px;'>
                <div style="font-weight: bolder;">2. 여행을 떠날 때, 주로 어떤 활동을 선호하시나요?</div>
                <div style="list-style: none; margin-top: 7px;">
                    <li><label><input type="radio" name="activity" value="shopping"> 쇼핑</label></li>
                    <li><label><input type="radio" name="activity" value="traditional"> 전통적인 일본 문화 체험</label></li>
                    <li><label><input type="radio" name="activity" value="marine"> 해양 액티비티</label></li>
                    <li><label><input type="radio" name="activity" value="nature"> 자연탐방 및 온천</label></li>
                    <li><label><input type="radio" name="activity" value="food"> 맛집 탐방</label></li>
                </div>
            </div>

            <!-- 3. 도시 규모 질문 -->
            <div style='background-color: whitesmoke; padding: 12px; margin-top: 5px;'>
                <div style="font-weight: bolder;">3. 여행할 때 어느 정도 규모의 도시를 선호하시나요?</div>
                <div style="list-style: none; margin-top: 7px;">
                    <li><label><input type="radio" name="city_size" value="large"> 대도시</label></li>
                    <li><label><input type="radio" name="city_size" value="medium"> 중소도시</label></li>
                    <li><label><input type="radio" name="city_size" value="small"> 소도시</label></li>
                </div>
            </div>

            <!-- 4. 계절 질문 -->
            <div style='background-color: whitesmoke; padding: 12px; margin-top: 5px;'>
                <div style="font-weight: bolder;">4. 어떤 계절에 여행을 계획하고 계신가요?</div>
                <div style="list-style: none; margin-top: 7px;">
                    <li><label><input type="radio" name="season" value="spring"> 봄</label></li>
                    <li><label><input type="radio" name="season" value="summer"> 여름</label></li>
                    <li><label><input type="radio" name="season" value="fall"> 가을</label></li>
                    <li><label><input type="radio" name="season" value="winter"> 겨울</label></li>
                </div>
            </div>

            <div style="text-align: center; margin-top: 15px;">
                <button type="submit" style="font-size: 20px; padding: 7px; width: 30%;">제 출</button>
            </div>
        </form>
    </div>
</body>
</html>
