<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
    {% load static %} <!-- 이게 들어가야 staic 파일 정상 로드됨 실제 렌더링 된 파일보면 이거 없음-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>To-Do List</h1>

    <div id="todo-form">
        <input type="text" id="todo-input" placeholder="Enter a new task">
        <button id="add-todo-btn">Add</button>
    </div>

    <ul id="todo-list">
        {% for todo in todos %}
            <li data-id="{{ todo.id }}">
                <input type="checkbox" class="todo-checkbox" {% if todo.is_completed %}checked{% endif %}>
                <span class="todo-title {% if todo.is_completed %}completed{% endif %}">
                    {{ todo.title }}
                </span>
                <button class="delete-btn">Delete</button>
            </li>
        {% endfor %}
    </ul>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>

